<div class="home-header">
    <h1>Radical Examen</h1>
    <h2>Carlos Enrique Duarte Ortiz</h2>
    <h3>Temperatura en Hermosillo <span class="home-current-city-temperature">{{ currentCityTemperature }} °C</span>
    </h3>
</div>

<div class="home-file-upload">
    <app-file-upload (formDataReady)="fileUploaded($event)" />
</div>

@if (displayStatistics) {
<div class="home-statistics">
    <div>Persona con menor saldo actual: <span class="home-result">{{ getRecordFullName(minCurrentBalanceRecord)
            }}</span></div>
    <div>Persona con mayor saldo actual: <span class="home-result">{{ getRecordFullName(maxCurrentBalanceRecord)
            }}</span> </div>
    <div>Total de registros: <span class="home-result">{{ excelRecords.length }}</span></div>
    <div>Suma de todos los saldos actuales: <span class="home-result">{{ currentBalanceSum }}</span></div>
    <div>Suma de todos los límites de crédito: <span class="home-result">{{ creditLimitSum }}</span></div>
    <div>Suma de todos los saldos vencidos: <span class="home-result">{{ balanceDueSum }}</span></div>
</div>

<div class="home-table-container">
    <app-document-table-view [excelRecords]="recordList" />

    <nav class="home-pagination-nav">
        <ul class="home-pagination-list">
            <li class="home-pagination-item">
                <a href="#" (click)="previousPage()">Atrás</a>
            </li>
            @for (numberPage of numberList; track numberPage) {
            <li class="home-pagination-item">
                <a href="#" [ngClass]="{'home-pagination-current-item': currentPage === numberPage}"
                    (click)="changeCurrentPage(numberPage)">{{ numberPage }}</a>
            </li>
            }
            <li class="home-pagination-item">
                <a href="#" (click)="nextPage()">Siguiente</a>
            </li>
        </ul>
    </nav>

    <div class="home-chart-container">
        <div class="home-chart">
            <canvas id="stateCurrentBalanceChart">
                {{ stateCurrentBalanceChart }}
            </canvas>
        </div>

        <div class="home-chart">
            <canvas id="balancePieChart">
                {{ balancePieChart }}
            </canvas>
        </div>
    </div>
</div>
}

<hr class="home-horizontal-line" />

<div class="home-banxico">
    <form (submit)="banxicoFormSubmit()" [formGroup]="banxicoForm">
        <mat-form-field class="home-banxico-field home-banxico-token-field" appearance="outline">
            <input matInput type="text" formControlName="banxicoToken" placeholder="Ingrese token de Banxico" />
        </mat-form-field>

        <mat-form-field class="home-banxico-field" appearance="outline">
            <mat-label>Fecha de inicio</mat-label>
            <input matInput [matDatepicker]="startPicker" name="startDate" formControlName="startDate"
                (dateChange)="startDateChange($event)" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="home-banxico-field" appearance="outline">
            <mat-label>Fecha de fin</mat-label>
            <input matInput [matDatepicker]="endPicker" name="endDate" formControlName="endDate"
                (dateChange)="endDateChange($event)" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>

        <button mat-button type="submit">Obtener tipo de cambio</button>
    </form>

    @if (displayBanxicoTable) {
    <div class="home-banxico-table">
        <app-banxico-table-view [banxicoRecords]="banxicoRecords" />
    </div>
    }
</div>